<div class="nav">
  <nav>
    <!-- Botón del menú para dispositivos móviles -->
    <button class="menu-toggle" (click)="toggleMenu()">
      &#9776;<!-- Icono de hamburguesa -->
    </button>
    <ul [class.active]="isMenuOpen">
      <li>
        <a routerLink="/" routerLinkActive="active" (click)="closeMenu()"
          >Inicio</a
        >
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()"
          >Sobre mí</a
        >
      </li>
      <li>
        <a
          routerLink="/projects"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Proyectos</a
        >
      </li>
      <li>
        <a routerLink="/skills" routerLinkActive="active" (click)="closeMenu()"
          >Habilidades</a
        >
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()"
          >Contacto</a
        >
      </li>
    </ul>
  </nav>
</div>
