<section class="container">
  <h1>Habilidades Técnicas</h1>

  <h2>Desarrollo Frontend</h2>
  <p>
    - HTML: Marcado semántico, buenas prácticas de accesibilidad,
    características de HTML5. <br />
    - CSS: Diseño responsivo, Flexbox, Grid, animaciones, preprocesadores.
    <br />
    - JavaScript: ES6+, manipulación del DOM, programación asíncrona, APIs.
    <br />
    - TypeScript: Tipos, interfaces, clases, decoradores, genéricos, módulos.
  </p>

  <h2>Frameworks de Frontend</h2>
  <p>
    - React.js: Hooks, Context API, Redux, ciclo de vida de componentes. <br />
    - Angular: TypeScript, RxJS, servicios, inyección de dependencias.
  </p>

  <h2>Desarrollo Backend</h2>
  <p>- Node.js: Express.js, APIs RESTful, middleware, autenticación.</p>

  <h2>Herramientas de Desarrollo</h2>
  <p>
    - Control de versiones (Git). <br />
    - Administradores de paquetes (npm, yarn). <br />
    - Herramientas de construcción (Webpack, Babel).
  </p>
</section>

<div class="skills-container">
  <app-skill-card *ngFor="let skill of skills" [skill]="skill"></app-skill-card>
</div>
