h3 {
  color: #fef08a;
}
p {
  color: #fafafa;
}
/* p {
  color: rgb(153, 151, 147);
} */
/* a {
  font-family: "Roboto", sans-serif;
  color: #fafafa;
} */
/* Estilos generales para la tarjeta de proyecto */
.proyect-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: start;
  background-color: #4e42b84f;
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Contenedor para la imagen y el enlace */
.proyect-card-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Imagen dentro de la tarjeta */
.proyect-card-image {
  width: 300px; /* Tamaño fijo para la imagen en escritorio */
  height: 200px;
  padding: 1rem;
  object-fit: cover;
  border-radius: 20px;
}

/* Enlace para ver el proyecto */
.proyect-card-link {
  margin-top: 10px;
  color: #fafafa;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 2px solid #fafafa;
  border-radius: 8px;
  transition: all 0.3s;
}

/* Hover para el enlace */
.proyect-card-link:hover {
  background-color: #4e42b8;
  color: #fff;
  border-color: #4e42b8;
}

/* Contenedor de la descripción */
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}

/* Contenedor para tecnologias y enlace */
.tech-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.tech-link-container p {
  margin: 0;
}

/* Ajustes para pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
  .proyect-card {
    flex-direction: column;
    text-align: center;
  }

  .proyect-card-image-container {
    align-items: center;
  }

  .proyect-card-image {
    width: 100%;
    max-width: 100%;
  }

  .description {
    text-align: center;
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem 0;
    margin: 0;
  }

  .description h3 {
    margin: 0;
  }

  .tech-link-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

/* Ajustes para pantallas más pequeñas (menos de 480px) */
@media (max-width: 480px) {
  .proyect-card-image {
    width: 100%;
    height: auto;
  }

  .proyect-card h3 {
    font-size: 1.5rem;
  }

  .proyect-card p {
    font-size: 0.9rem;
  }

  .proyect-card-link {
    padding: 0.4rem 0.8rem;
  }
}
