h3,
p,
a {
  font-family: "Roboto", sans-serif;
  color: rgb(153, 151, 147);
}
/* Estilos generales para la tarjeta de proyecto */
.proyect-card {
  display: flex; /* Usamos flexbox para la estructura */
  flex-direction: row; /* Coloca la imagen a la izquierda y la descripción a la derecha en pantallas grandes */
  gap: 20px; /* Espacio entre la imagen y la descripción */
  align-items: start; /* Alinea los elementos al inicio */
  background-color: #4e42b84f;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left; /* Alineación del texto a la izquierda en pantallas grandes */
}

/* Contenedor para la imagen y el enlace */
.proyect-card-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Imagen dentro de la tarjeta */
.proyect-card-image {
  width: 300px; /* Tamaño fijo para la imagen en escritorio */
  height: 200px;
  padding: 1rem;
  object-fit: cover;
  border-radius: 20px;
}

/* Enlace para ver el proyecto */
.proyect-card-link {
  margin-top: 10px; /* Espacio entre la imagen y el enlace */
  color: #4e42b8;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 1rem;
  border: 2px solid #4e42b8;
  border-radius: 8px;
  transition: all 0.3s;
}

/* Hover para el enlace */
.proyect-card-link:hover {
  background-color: #4e42b8;
  color: #fff;
  border-color: #4e42b8;
}

/* Contenedor de la descripción */
.description {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el texto */
  gap: 10px;
  flex-grow: 1; /* Hace que ocupe el espacio restante */
}

/* Ajustes para pantallas pequeñas (menos de 768px) */
@media (max-width: 768px) {
  .proyect-card {
    flex-direction: column; /* Organiza la imagen y la descripción en columna */
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }

  .proyect-card-image-container {
    align-items: center; /* Centra la imagen y el botón */
  }

  .proyect-card-image {
    width: 100%; /* La imagen ocupa todo el ancho disponible */
    max-width: 100%; /* Limita el ancho máximo */
  }

  .description {
    text-align: center; /* Centra el texto de la descripción */
    width: 100%; /* Hace que ocupe todo el ancho disponible */
  }
}

/* Ajustes para pantallas más pequeñas (menos de 480px) */
@media (max-width: 480px) {
  .proyect-card-image {
    width: 100%; /* Hace que la imagen ocupe todo el ancho disponible */
    height: auto; /* Ajusta la altura automáticamente */
  }

  .proyect-card h3 {
    font-size: 1.5rem; /* Ajusta el tamaño del título */
  }

  .proyect-card p {
    font-size: 0.9rem; /* Ajusta el tamaño del texto */
  }

  .proyect-card-link {
    padding: 0.4rem 0.8rem; /* Ajusta el tamaño del enlace */
  }
}
