<section class="about-container">
  <div class="about-content">
    <h1 class="about-title">Sobre mí</h1>
    <p class="about-description">
      Soy Nahuel, me apasiona la programación y dedico toda mi energía a cada
      proyecto, buscando constantemente nuevas tecnologías para expandir y
      mejorar mis habilidades. Para mí, cada línea de código representa una
      oportunidad para resolver problemas y crear soluciones innovadoras.
      <br />
      <br />
      Formé parte de los programas <span>Mar del Plata Programa</span> (donde mi
      proyecto quedo seleccionado y expuse en el cierre del mismo) y
      <span>Argentina Programa</span>, donde desarrollé una sólida capacidad
      para enfrentar y resolver desafíos técnicos diarios. Estas experiencias
      fortalecieron mi compromiso con la profesionalidad y la mejora continua,
      permitiéndome ofrecer resultados de alta calidad y contribuir eficazmente
      en los equipos de los que formo parte.
      <br />
      <br />
      Soy muy profesional en mi trabajo y tengo una gran capacidad para resolver
      los desafíos que se presentan día a día. Además de ser sumamente
      responsable, soy una persona alegre que mantiene un excelente ambiente de
      trabajo incluso en los momentos más complicados.
    </p>
  </div>
</section>
