<div class="home-container">
  <div class="profile-section">
    <img
      src="/portfolio/src/assets/images/profile.jpg"
      alt="Foto de perfil"
      class="profile-image"
    />
    <span class="status">Disponible para trabajar</span>
  </div>

  <div class="intro-section">
    <h1>Hola, soy Nahuel Nuñez</h1>
    <p class="description">
      +[X] años de experiencia. <span>Ingeniero de Software</span> y
      <span>Creador de Contenido</span> sobre Programación. Especializado en el
      desarrollo de aplicaciones web únicas.
    </p>

    <div class="buttons">
      <button class="btn-primary">Contáctame</button>
      <button class="btn-secondary">LinkedIn</button>
    </div>
  </div>
</div>
