/* Estilos generales para la página de proyectos */
.projects-container {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-top: 4rem;
}

.projects-title {
  text-align: center;
  font-size: 2.5rem;
  color: #4e42b8;
  margin-bottom: 2rem;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

@media (max-width: 768px) {
  .projects-title {
    font-size: 2rem;
  }

  .projects-container {
    padding: 2rem 1rem;
  }

  .proyect-card {
    padding: 1rem;
  }
}
