/* styles.css */

body {
  background: rgb(2, 0, 80);
  background: radial-gradient(
    circle,
    rgba(2, 0, 80, 1) 0%,
    rgba(8, 8, 9, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}
h1,
h2,
p {
  color: rgb(153, 151, 147);
}
